# Load and Port Angeles Climate data
This historical data can be found at https://www.ndbc.noaa.gov/station_history.php?station=ptaw1

In [1]:
# from pathlib import Path
# import time
import datetime as dt
import pandas as pd
import glob, os   
import numpy as np

In [2]:
# cols = list(pd.read_csv("ptaw2015.txt", delim_whitespace=True,nrows =1))
all_files = sorted(glob.glob(os.path.join('', "ptaw201*.txt")))

portangeles = pd.concat((pd.read_csv(f,delim_whitespace=True, header=[0,1]) for f in all_files),ignore_index=True)
# ,usecols =[i for i in cols if i in keep_vars]

In [3]:
drop_vars = [
    "GST", 
    "DPD", 
    "APD", 
    "MWD", 
    "WTMP", 
    "DEWP", 
    "VIS", 
    "TIDE",
    "WVHT"
]

portangeles = portangeles.drop(labels=drop_vars, axis=1)

/home/rbeutel/anaconda3/envs/eosc510/lib/python3.9/site-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [4]:
#out of curiosity lets count the number of NaN
portangeles.isna().sum()

#YY   #yr     0
MM    mo      0
DD    dy      0
hh    hr      0
mm    mn      0
WDIR  degT    0
WSPD  m/s     0
PRES  hPa     0
ATMP  degC    0
dtype: int64

In [5]:
#Replace NaN <- don't need to do this since there are no NaN
# Sheringham['Temp (°C)'] = Sheringham['Temp (°C)'].fillna(0)
# Sheringham['Wind Dir (10s deg)'] = Sheringham['Wind Dir (10s deg)'].fillna(0)
# Sheringham['Wind Spd (km/h)'] = Sheringham['Wind Spd (km/h)'].fillna(0)
# Sheringham['Stn Press (kPa)'] = Sheringham['Stn Press (kPa)'].fillna(101)

In [6]:
day = []
day = [str(dt.datetime(portangeles['#YY']['#yr'][i],portangeles['MM']['mo'][i],portangeles['DD']['dy'][i],portangeles['hh']['hr'][i],portangeles['mm']['mn'][i])) for i in range(len(portangeles['#YY']['#yr']))]

In [7]:
portangeles['Date/Time']=day #create a column with the date/time list info
#portangeles.set_index('Date/Time', inplace = True) #set this column as the index of the the file
portangeles = portangeles.drop(labels=['#YY','MM','DD','hh','mm'], axis=1) #remove the columns that have the year, month, day, hour, minute info as not this is unnessecary

In [8]:
portangeles

       WDIR WSPD    PRES ATMP            Date/Time
       degT  m/s     hPa degC
0       140  2.3  1033.6  4.0  2015-01-01 00:00:00
1       137  2.5  1033.6  3.9  2015-01-01 00:06:00
2       153  1.9  1033.7  3.5  2015-01-01 00:12:00
3       162  1.8  1033.7  2.9  2015-01-01 00:18:00
4       161  1.9  1033.8  2.4  2015-01-01 00:24:00
...     ...  ...     ...  ...                  ...
432691   20  1.6  1003.5  8.6  2019-12-31 23:30:00
432692  225  1.5  1003.3  8.6  2019-12-31 23:36:00
432693  273  1.6  1003.3  8.6  2019-12-31 23:42:00
432694  327  1.7  1003.0  8.8  2019-12-31 23:48:00
432695   45  1.1  1003.0  8.8  2019-12-31 23:54:00

[432696 rows x 5 columns]

In [9]:
#export the data as a csv
portangeles.to_csv('PortAngeles.csv',index=False)